USE [JobApplicationsDB]
GO
/****** Object:  Table [dbo].[Applicants]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applicants](
	[ApplicantID] [int] IDENTITY(1,1) NOT NULL,
	[PostName] [nvarchar](200) NULL,
	[Department] [nvarchar](200) NULL,
	[Campus] [nvarchar](200) NULL,
	[FullName] [nvarchar](200) NULL,
	[CNIC] [nvarchar](20) NULL,
	[Sex] [nvarchar](10) NULL,
	[DOB] [date] NULL,
	[FatherName] [nvarchar](200) NULL,
	[PresentAddress] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[TelResident] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[WhatsApp] [nvarchar](50) NULL,
	[Email] [nvarchar](200) NULL,
	[Quota] [nvarchar](100) NULL,
	[Domicile] [nvarchar](100) NULL,
	[NationalitySelf] [nvarchar](100) NULL,
	[NationalitySpouse] [nvarchar](100) NULL,
	[SubmissionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankSlip]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankSlip](
	[BankSlipID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[SlipNo] [nvarchar](100) NULL,
	[SlipDate] [date] NULL,
	[BankName] [nvarchar](200) NULL,
	[BranchCity] [nvarchar](200) NULL,
	[FilePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BankSlipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountriesVisited]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountriesVisited](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Country] [nvarchar](200) NULL,
	[VisitFrom] [date] NULL,
	[VisitTo] [date] NULL,
	[Purpose] [nvarchar](300) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoursesTaught]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesTaught](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[CourseTitle] [nvarchar](200) NULL,
	[Year] [nvarchar](50) NULL,
	[Mode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Declarations]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Declarations](
	[DeclarationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[HasAllQualifications] [bit] NULL,
	[MinPayAcceptable] [nvarchar](100) NULL,
	[PhysicalDisability] [nvarchar](500) NULL,
	[Liability] [nvarchar](500) NULL,
	[EmployerPermission] [nvarchar](500) NULL,
	[EmployerNameDesignation] [nvarchar](300) NULL,
	[JoiningTime] [nvarchar](100) NULL,
	[AttachedDocuments] [nvarchar](max) NULL,
	[CertifyStatement] [bit] NULL,
	[PhysicalDisabilityFile] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeclarationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distinctions]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distinctions](
	[DistinctionID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DistinctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EduID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Level] [nvarchar](50) NULL,
	[Certificate] [nvarchar](200) NULL,
	[Institute] [nvarchar](200) NULL,
	[RegistrationNo] [nvarchar](100) NULL,
	[Years] [nvarchar](50) NULL,
	[Division] [nvarchar](50) NULL,
	[Percentage] [nvarchar](50) NULL,
	[MarksObt] [nvarchar](50) NULL,
	[TotalMarks] [nvarchar](50) NULL,
	[Subject] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[EduID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploymentHistory]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentHistory](
	[EmploymentID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[PostHeld] [nvarchar](200) NULL,
	[WhereEmployed] [nvarchar](300) NULL,
	[ScaleOfPay] [nvarchar](100) NULL,
	[LastPay] [nvarchar](100) NULL,
	[DurationFrom] [date] NULL,
	[DurationTo] [date] NULL,
	[TotalYears] [int] NULL,
	[TotalMonths] [int] NULL,
	[TotalDays] [int] NULL,
	[CauseOfLeaving] [nvarchar](300) NULL,
	[JobDescription] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmploymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[PubID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Title] [nvarchar](500) NULL,
	[Authors] [nvarchar](500) NULL,
	[Year] [int] NULL,
	[Journal] [nvarchar](300) NULL,
	[ISSN] [nvarchar](50) NULL,
	[ImpactFactor] [nvarchar](50) NULL,
	[Publisher] [nvarchar](200) NULL,
	[ISBN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Research]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Research](
	[ResearchID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Title] [nvarchar](300) NULL,
	[Period] [nvarchar](50) NULL,
	[Professor] [nvarchar](200) NULL,
	[Institution] [nvarchar](200) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentsGuided]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsGuided](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantID] [int] NULL,
	[Level] [nvarchar](50) NULL,
	[MajorSupervisor] [int] NULL,
	[CommitteeMember] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/26/2025 5:37:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applicants] ADD  DEFAULT (getdate()) FOR [SubmissionDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BankSlip]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[CountriesVisited]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[CoursesTaught]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[Declarations]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[Distinctions]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[EmploymentHistory]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[Research]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
ALTER TABLE [dbo].[StudentsGuided]  WITH CHECK ADD FOREIGN KEY([ApplicantID])
REFERENCES [dbo].[Applicants] ([ApplicantID])
GO
